.Burro{
    width: 600px;
}
body{
    background-color: rgb(118, 255, 83);
}

 .h1{
text-align: center;
color: #000000;
 }

.foto{
    text-align: center;

}
header{
background-color: rgb(118, 255, 83);
}
.logo{
   width:99%; 
}
