.Burro{
    width: 500%;
}
body{
    background-color: rgb(118, 255, 83);
}

 .h1{
text-align: center;
color: #000000;
 }

.foto{
    text-align: center;
    display: flex;
}
header{
background-color: rgb(118, 255, 83);
 display: flex;
 justify-content: space-aroun;
}
.logo{
   width:20%; 
}
.sobre{
    text-align: center;
}
.texto-1{
    
}
.texto-2{
}

.li{
    display: inline-block;
    margin: 0 16px;
}

*{
 margin: 0;
 padding: 0;

}